@import url('estilos.css');


/* HEADER */
header {
    box-shadow: 0 0 20px var(--sombra);
}
header .header-logo {
    height: 12vh !important;
}


/* PARTE MEDIA */
main {
    flex-direction: row;
    overflow: hidden;
    height: 88vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

aside {
    box-shadow: 0 0 20px var(--sombra);
    background-color: var(--oscuro);
    overflow: hidden;
    height: 100%;
    width: 20%;
}

aside * {
    overflow: hidden;
}

aside ul {
    list-style: none;
    padding: 1em 0;
    margin: 0;
}

aside ul li {
    justify-content: center;
    color: var(--blanco);
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 4.5em;
}
aside ul li:hover {
    background-color: #fff;
    color: var(--oscuro);
}

aside ul li.seleccionado {
    background-color: #fffffff0;
    color: var(--oscuro);
}

aside ul li.seleccionado a {
    font-weight: 700 !important;
}

aside ul li a {
    text-decoration: none;
    color: inherit;
    font-size: larger;
    font-weight: 400;
    width: 80%;
}
aside ul li a:hover {
    color: inherit !important;
}

aside ul li.separador {
    background-color: var(--oscuro);
    font-weight: 600;
    font-size: large;
    margin: 1em 0;
    opacity: .9;
}
aside ul li.separador:hover {
    background-color: var(--oscuro);
    color: white;
    cursor: auto;
}

.contenido {
    overflow-y: scroll;
    padding: 3em;
    height: 100%;
    width: 80%;
}

.contenido img {
    width: 50%;
}

.contenedor-examen {
    box-shadow: 10px 10px 25px var(--sombra);
    border-radius: 12px;
    margin-top: 2em;
    padding: 2% 0;
    display: none;
    height: 88vh;
    width: 100%;
}

.examen {
    border-radius: 12px;
    height: 96%;
    width: 100%;
}
